<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Configure a proxy, if necessary
	<system.net>  
		<defaultProxy>  
			<proxy proxyaddress="http://webproxy.ucsd.edu:3128"  bypassonlocal="false" />  
		</defaultProxy>  
	</system.net>  
	-->
	<appSettings>
		<add key="Database.DSN" value="dsn-for-MS-SQL-database" />

		<add key="Canvas.APIBase" value="https://your.canvas.edu/api/v1" />
		<add key="Canvas.Base" value="https://your.canvas.edu" />

		<add key="Canvas.Oauth.ClientId" value="developer-client-id" />
		<add key="Canvas.Oauth.Key" value="developer-oauth-key" />

		<add key="LTI.SubmissionComments.Key" value="shared-secret-key-used-in-configuring-canvas-LTI" />
		<add key="LTI.SubmissionComments.Dest" value="https://site.ucsd.edu/SubmissionComments/Default.aspx" />
		<add key="LTI.SubmissionComments.InstructorRoles" value="urn:lti:instrole:ims/lis/Administrator,urn:lti:instrole:ims/lis/Instructor,urn:lti:role:ims/lis/TeachingAssistant,TeachingAssistant,Grader,Instructor" />
	</appSettings>
</configuration>
